In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [2]:
csv_file = "sources/time_series_covid19_confirmed_global.csv"
confirmed_cases_df = pd.read_csv(csv_file)
confirmed_cases_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,665,714,784,840,906,933,996,1026,1092,1176
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,467,475,494,518,539,548,562,584,609,634
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,1983,2070,2160,2268,2418,2534,2629,2718,2811,2910
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,646,659,673,673,696,704,713,717,717,723
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,19,19,19,19,19,24,24,24,24,25

In [3]:
csv_file = "sources/time_series_covid19_deaths_global.csv"
deaths_df = pd.read_csv(csv_file)
deaths_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,21,23,25,30,30,30,33,36,36,40
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,23,24,25,26,26,26,26,26,26,27
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,313,326,336,348,364,367,375,384,392,402
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,29,31,33,33,35,35,36,37,37,37
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [4]:
csv_file = "sources/time_series_covid19_recovered_global.csv"
recovered_cases_df = pd.read_csv(csv_file)
recovered_cases_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,32,40,43,54,99,112,131,135,150,166
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,232,248,251,277,283,302,314,327,345,356
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,601,691,708,783,846,894,1047,1099,1152,1204
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,128,128,169,169,191,205,235,248,282,309
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,4,5,5,5,5,6,6,6,6,6

### Transform DataFrame

In [5]:
#List column header to check if there are different entries in each file
confirmed_col = confirmed_cases_df.columns
deaths_col= deaths_df.columns
recovered_col = recovered_cases_df.columns

difference_test1 = confirmed_col.difference(deaths_col)
difference_test1

Index([], dtype='object')

In [6]:
difference_test2= deaths_col.difference(recovered_col)
difference_test2

Index([], dtype='object')

In [7]:
difference_test3= recovered_col.difference(confirmed_col)
difference_test3

Index([], dtype='object')

In [8]:
set(confirmed_cases_df.columns).intersection(set(deaths_df .columns))

{'1/22/20',
 '1/23/20',
 '1/24/20',
 '1/25/20',
 '1/26/20',
 '1/27/20',
 '1/28/20',
 '1/29/20',
 '1/30/20',
 '1/31/20',
 '2/1/20',
 '2/10/20',
 '2/11/20',
 '2/12/20',
 '2/13/20',
 '2/14/20',
 '2/15/20',
 '2/16/20',
 '2/17/20',
 '2/18/20',
 '2/19/20',
 '2/2/20',
 '2/20/20',
 '2/21/20',
 '2/22/20',
 '2/23/20',
 '2/24/20',
 '2/25/20',
 '2/26/20',
 '2/27/20',
 '2/28/20',
 '2/29/20',
 '2/3/20',
 '2/4/20',
 '2/5/20',
 '2/6/20',
 '2/7/20',
 '2/8/20',
 '2/9/20',
 '3/1/20',
 '3/10/20',
 '3/11/20',
 '3/12/20',
 '3/13/20',
 '3/14/20',
 '3/15/20',
 '3/16/20',
 '3/17/20',
 '3/18/20',
 '3/19/20',
 '3/2/20',
 '3/20/20',
 '3/21/20',
 '3/22/20',
 '3/23/20',
 '3/24/20',
 '3/25/20',
 '3/26/20',
 '3/27/20',
 '3/28/20',
 '3/29/20',
 '3/3/20',
 '3/30/20',
 '3/31/20',
 '3/4/20',
 '3/5/20',
 '3/6/20',
 '3/7/20',
 '3/8/20',
 '3/9/20',
 '4/1/20',
 '4/10/20',
 '4/11/20',
 '4/12/20',
 '4/13/20',
 '4/14/20',
 '4/15/20',
 '4/16/20',
 '4/17/20',
 '4/18/20',
 '4/19/20',
 '4/2/20',
 '4/20/20',
 '4/21/20',
 '4/22/20',
 '4/3/20',
 '4/4/20',
 '4/5/20',
 '4/6/20',
 '4/7/20',
 '4/8/20',
 '4/9/20',
 'Country/Region',
 'Lat',
 'Long',
 'Province/State'}

In [9]:
#list of common columns
common_cols = confirmed_col.intersection(deaths_col)
common_cols

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20',
       '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20', '4/7/20', '4/8/20',
       '4/9/20', '4/10/20', '4/11/20', '4/12/20', '4/13/20', '4/14/20',
       '4/15/20', '4/16/20', '4/17/20', '4/18/20', '4/19/20', '4/20/20',
       '4/21/20', '4/22/20'],
      dtype='object')

In [10]:
#Check number of entries in each column
confirmed_cases_df.count()

Province/State     82
Country/Region    264
Lat               264
Long              264
1/22/20           264
                 ...
4/18/20           264
4/19/20           264
4/20/20           264
4/21/20           264
4/22/20           264
Length: 96, dtype: int64

In [11]:
deaths_df.count()

Province/State     82
Country/Region    264
Lat               264
Long              264
1/22/20           264
                 ...
4/18/20           264
4/19/20           264
4/20/20           264
4/21/20           264
4/22/20           264
Length: 96, dtype: int64

In [12]:
recovered_cases_df.count()

Province/State     67
Country/Region    250
Lat               250
Long              250
1/22/20           250
                 ...
4/18/20           250
4/19/20           250
4/20/20           250
4/21/20           250
4/22/20           250
Length: 96, dtype: int64

In [13]:
#Remove province category since it has limited and different entries in each file
confirmed_cases_df = confirmed_cases_df.drop(columns=["Province/State"])

In [14]:
deaths_df.columns.difference(confirmed_cases_df.columns)

Index(['Province/State'], dtype='object')

In [15]:
recovered_cases_df.columns.difference(confirmed_cases_df.columns)

Index(['Province/State'], dtype='object')

In [21]:
deaths_df = deaths_df.drop(columns=["Province/State"])
recovered_cases_df = recovered_cases_df.drop(columns=["Province/State"])

In [22]:
confirmed_cases_df["Country/Region"].value_counts()

China             33
Canada            15
United Kingdom    11
France            11
Australia          8
                  ..
Sudan              1
Morocco            1
Oman               1
Lebanon            1
Zambia             1
Name: Country/Region, Length: 185, dtype: int64

In [23]:
deaths_df["Country/Region"].value_counts()

China             33
Canada            15
United Kingdom    11
France            11
Australia          8
                  ..
Sudan              1
Morocco            1
Oman               1
Lebanon            1
Zambia             1
Name: Country/Region, Length: 185, dtype: int64

In [24]:
recovered_cases_df["Country/Region"].value_counts()

China             33
United Kingdom    11
France            11
Australia          8
Netherlands        5
                  ..
Lebanon            1
Indonesia          1
Burundi            1
Saint Lucia        1
Zambia             1
Name: Country/Region, Length: 185, dtype: int64

In [25]:
recovered_cases_df = recovered_cases_df.groupby(["Country/Region"])

recovered_cases_df.get_group("Canada")

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
36,Canada,56.1304,-106.3468,0,0,0,0,0,0,0,...,7758,8210,8966,9698,10545,10964,11847,12543,13188,14454

In [26]:
#Noted difference between recovered dataframe and confirmed/deaths is in the umber of entries for Canada
confirmed_cases_df =confirmed_cases_df.groupby(["Country/Region"])

confirmed_cases_df.get_group("Canada")

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
35,Canada,53.9333,-116.5765,0,0,0,0,0,0,0,...,1732,1870,1870,1996,2397,2562,2803,2908,3095,3401
36,Canada,49.2827,-123.1207,0,0,0,0,0,0,1,...,1490,1490,1517,1561,1575,1618,1647,1647,1724,1795
37,Canada,37.6489,-122.6655,0,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,-1
38,Canada,53.7609,-98.8139,0,0,0,0,0,0,0,...,246,246,246,250,250,253,254,254,255,257
39,Canada,46.5653,-66.4619,0,0,0,0,0,0,0,...,116,116,117,117,117,117,118,118,118,118
40,Canada,53.1355,-57.6604,0,0,0,0,0,0,0,...,244,244,247,252,256,257,257,257,257,256
41,Canada,44.6820,-63.7443,0,0,0,0,0,0,0,...,474,517,549,579,606,649,675,721,737,772
42,Canada,51.2538,-85.3232,0,0,0,0,1,1,1,...,7470,7953,8447,9840,10456,11013,11561,12063,12715,13718
43,Canada,46.5107,-63.4168,0,0,0,0,0,0,0,...,25,25,26,26,26,26,26,26,26,26
44,Canada,52.9399,-73.5491,0,0,0,0,0,0,0,...,13557,14248,14860,15857,16798,17521,17950,19319,20126,20965
45,Canada,52.9399,-106.4509,0,0,0,0,0,0,0,...,300,300,304,305,307,313,315,316,320,326
231,Canada,0.0000,0.0000,0,0,0,0,0,0,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
238,Canada,0.0000,0.0000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
245,Canada,64.8255,-124.8457,0,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
246,Canada,64.2823,-135.0000,0,0,0,0,0,0,0,...,8,8,8,8,8,9,9,11,11,11

In [27]:
#created dataframes based on the sum of cases by country for each day across the files /double check with number of rows
confirmed_cases_sum_df = confirmed_cases_df.sum()
confirmed_cases_sum_df

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,0,...,665,714,784,840,906,933,996,1026,1092,1176
Albania,41.153300,20.168300,0,0,0,0,0,0,0,0,...,467,475,494,518,539,548,562,584,609,634
Algeria,28.033900,1.659600,0,0,0,0,0,0,0,0,...,1983,2070,2160,2268,2418,2534,2629,2718,2811,2910
Andorra,42.506300,1.521800,0,0,0,0,0,0,0,0,...,646,659,673,673,696,704,713,717,717,723
Angola,-11.202700,17.873900,0,0,0,0,0,0,0,0,...,19,19,19,19,19,24,24,24,24,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,0,...,308,308,374,374,402,418,437,449,466,474
Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
Yemen,15.552727,48.516388,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
Zambia,-15.416700,28.283300,0,0,0,0,0,0,0,0,...,45,45,48,48,52,57,61,65,70,74
Zimbabwe,-20.000000,30.000000,0,0,0,0,0,0,0,0,...,17,17,23,23,24,25,25,25,28,28

In [28]:
#Repeat the above for deaths_df
deaths_df = deaths_df.groupby(["Country/Region"])
deaths_sum_df = deaths_df.sum()
deaths_sum_df

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,0,...,21,23,25,30,30,30,33,36,36,40
Albania,41.153300,20.168300,0,0,0,0,0,0,0,0,...,23,24,25,26,26,26,26,26,26,27
Algeria,28.033900,1.659600,0,0,0,0,0,0,0,0,...,313,326,336,348,364,367,375,384,392,402
Andorra,42.506300,1.521800,0,0,0,0,0,0,0,0,...,29,31,33,33,35,35,36,37,37,37
Angola,-11.202700,17.873900,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,3,3,4,4
Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Yemen,15.552727,48.516388,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zambia,-15.416700,28.283300,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,3,3,3,3
Zimbabwe,-20.000000,30.000000,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,4

In [29]:
#Repeat the above for recovered_cases_df
recovered_sum_cases_df = recovered_cases_df.sum()
recovered_sum_cases_df

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,0,...,32,40,43,54,99,112,131,135,150,166
Albania,41.153300,20.168300,0,0,0,0,0,0,0,0,...,232,248,251,277,283,302,314,327,345,356
Algeria,28.033900,1.659600,0,0,0,0,0,0,0,0,...,601,691,708,783,846,894,1047,1099,1152,1204
Andorra,42.506300,1.521800,0,0,0,0,0,0,0,0,...,128,128,169,169,191,205,235,248,282,309
Angola,-11.202700,17.873900,0,0,0,0,0,0,0,0,...,4,5,5,5,5,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,0,...,58,62,63,63,69,69,71,71,71,71
Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Yemen,15.552727,48.516388,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zambia,-15.416700,28.283300,0,0,0,0,0,0,0,0,...,30,30,30,30,30,33,33,35,35,35
Zimbabwe,-20.000000,30.000000,0,0,0,0,0,0,0,0,...,0,0,1,1,2,2,2,2,2,2

In [30]:
confirmed_cases_sum_df = confirmed_cases_sum_df.sort_values(by=["Country/Region"])
deaths_sum_df = deaths_sum_df.sort_values(by=["Country/Region"])
recovered_sum_cases_df = recovered_sum_cases_df.sort_values(by=["Country/Region"])

In [31]:
confirmed_cases_sum_df = confirmed_cases_sum_df.reset_index()
confirmed_cases_sum_df

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
0,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,...,665,714,784,840,906,933,996,1026,1092,1176
1,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,467,475,494,518,539,548,562,584,609,634
2,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,1983,2070,2160,2268,2418,2534,2629,2718,2811,2910
3,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,646,659,673,673,696,704,713,717,717,723
4,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,19,19,19,19,19,24,24,24,24,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,...,308,308,374,374,402,418,437,449,466,474
181,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
182,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
183,Zambia,-15.416700,28.283300,0,0,0,0,0,0,0,...,45,45,48,48,52,57,61,65,70,74
184,Zimbabwe,-20.000000,30.000000,0,0,0,0,0,0,0,...,17,17,23,23,24,25,25,25,28,28

In [32]:
recovered_sum_cases_df = recovered_sum_cases_df.reset_index()
recovered_sum_cases_df

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
0,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,...,32,40,43,54,99,112,131,135,150,166
1,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,232,248,251,277,283,302,314,327,345,356
2,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,601,691,708,783,846,894,1047,1099,1152,1204
3,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,128,128,169,169,191,205,235,248,282,309
4,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,4,5,5,5,5,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,...,58,62,63,63,69,69,71,71,71,71
181,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
182,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
183,Zambia,-15.416700,28.283300,0,0,0,0,0,0,0,...,30,30,30,30,30,33,33,35,35,35
184,Zimbabwe,-20.000000,30.000000,0,0,0,0,0,0,0,...,0,0,1,1,2,2,2,2,2,2

In [33]:
deaths_sum_df = deaths_sum_df.reset_index()
deaths_sum_df.index.name = 'ID'
deaths_sum_df

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
ID,,,,,,,,,,,,,,,,,,,,,
0,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,...,21,23,25,30,30,30,33,36,36,40
1,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,23,24,25,26,26,26,26,26,26,27
2,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,313,326,336,348,364,367,375,384,392,402
3,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,29,31,33,33,35,35,36,37,37,37
4,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,...,2,2,2,2,2,2,3,3,4,4
181,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
182,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
183,Zambia,-15.416700,28.283300,0,0,0,0,0,0,0,...,2,2,2,2,2,2,3,3,3,3
184,Zimbabwe,-20.000000,30.000000,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,4

In [34]:
recovered_sum_cases_df.index.name = 'ID'
recovered_sum_cases_df

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
ID,,,,,,,,,,,,,,,,,,,,,
0,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,...,32,40,43,54,99,112,131,135,150,166
1,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,232,248,251,277,283,302,314,327,345,356
2,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,601,691,708,783,846,894,1047,1099,1152,1204
3,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,128,128,169,169,191,205,235,248,282,309
4,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,4,5,5,5,5,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,...,58,62,63,63,69,69,71,71,71,71
181,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
182,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
183,Zambia,-15.416700,28.283300,0,0,0,0,0,0,0,...,30,30,30,30,30,33,33,35,35,35
184,Zimbabwe,-20.000000,30.000000,0,0,0,0,0,0,0,...,0,0,1,1,2,2,2,2,2,2

In [35]:
confirmed_cases_sum_df.index.name = 'ID'
confirmed_cases_sum_df

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
ID,,,,,,,,,,,,,,,,,,,,,
0,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,...,665,714,784,840,906,933,996,1026,1092,1176
1,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,467,475,494,518,539,548,562,584,609,634
2,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,1983,2070,2160,2268,2418,2534,2629,2718,2811,2910
3,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,646,659,673,673,696,704,713,717,717,723
4,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,19,19,19,19,19,24,24,24,24,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,...,308,308,374,374,402,418,437,449,466,474
181,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
182,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
183,Zambia,-15.416700,28.283300,0,0,0,0,0,0,0,...,45,45,48,48,52,57,61,65,70,74
184,Zimbabwe,-20.000000,30.000000,0,0,0,0,0,0,0,...,17,17,23,23,24,25,25,25,28,28

### Create database connection

In [41]:
connection_string = "postgres:Anu@1101@localhost:5432/data"
engine = create_engine(f'postgresql://{connection_string}')

In [42]:
# Confirm tables
engine.table_names()

OperationalError: (psycopg2.OperationalError) FATAL:  database "ETL_Project_Corona" does not exist

(Background on this error at: http://sqlalche.me/e/e3q8)

### Load DataFrames into database

In [38]:
confirmed_cases_sum_df.to_sql(name='confirmed_cases', con=engine, if_exists='append', index=True)

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"

(Background on this error at: http://sqlalche.me/e/e3q8)

In [40]:
recovered_cases_sum_df.to_sql(name='recovered_cases', con=engine, if_exists='append', index=True)

NameError: name 'recovered_cases_sum_df' is not defined

In [ ]:
deaths_transformed.to_sql(name='county', con=engine, if_exists='append', index=True)