In [67]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [68]:
cases_file = "sources/time_series_covid19_confirmed_global.csv"
confirmed_cases_df = pd.read_csv(cases_file)
confirmed_cases_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,665,714,784,840,906,933,996,1026,1092,1176
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,467,475,494,518,539,548,562,584,609,634
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,1983,2070,2160,2268,2418,2534,2629,2718,2811,2910
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,646,659,673,673,696,704,713,717,717,723
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,19,19,19,19,19,24,24,24,24,25

In [69]:
deaths_file = "sources/time_series_covid19_deaths_global.csv"
deaths_df = pd.read_csv(deaths_file)
deaths_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,21,23,25,30,30,30,33,36,36,40
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,23,24,25,26,26,26,26,26,26,27
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,313,326,336,348,364,367,375,384,392,402
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,29,31,33,33,35,35,36,37,37,37
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [70]:
recovered_file = "sources/time_series_covid19_recovered_global.csv"
recovered_cases_df = pd.read_csv(recovered_file)
recovered_cases_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,32,40,43,54,99,112,131,135,150,166
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,232,248,251,277,283,302,314,327,345,356
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,601,691,708,783,846,894,1047,1099,1152,1204
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,128,128,169,169,191,205,235,248,282,309
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,4,5,5,5,5,6,6,6,6,6

### Transform DataFrame

In [71]:
#List column header to check if there are different entries in each file
confirmed_col = confirmed_cases_df.columns
deaths_col= deaths_df.columns
recovered_col = recovered_cases_df.columns

difference_test1 = confirmed_col.difference(deaths_col)
difference_test1

Index([], dtype='object')

In [72]:
difference_test2= deaths_col.difference(recovered_col)
difference_test2

Index([], dtype='object')

In [73]:
set(confirmed_cases_df.columns).intersection(set(deaths_df .columns))

{'1/22/20',
 '1/23/20',
 '1/24/20',
 '1/25/20',
 '1/26/20',
 '1/27/20',
 '1/28/20',
 '1/29/20',
 '1/30/20',
 '1/31/20',
 '2/1/20',
 '2/10/20',
 '2/11/20',
 '2/12/20',
 '2/13/20',
 '2/14/20',
 '2/15/20',
 '2/16/20',
 '2/17/20',
 '2/18/20',
 '2/19/20',
 '2/2/20',
 '2/20/20',
 '2/21/20',
 '2/22/20',
 '2/23/20',
 '2/24/20',
 '2/25/20',
 '2/26/20',
 '2/27/20',
 '2/28/20',
 '2/29/20',
 '2/3/20',
 '2/4/20',
 '2/5/20',
 '2/6/20',
 '2/7/20',
 '2/8/20',
 '2/9/20',
 '3/1/20',
 '3/10/20',
 '3/11/20',
 '3/12/20',
 '3/13/20',
 '3/14/20',
 '3/15/20',
 '3/16/20',
 '3/17/20',
 '3/18/20',
 '3/19/20',
 '3/2/20',
 '3/20/20',
 '3/21/20',
 '3/22/20',
 '3/23/20',
 '3/24/20',
 '3/25/20',
 '3/26/20',
 '3/27/20',
 '3/28/20',
 '3/29/20',
 '3/3/20',
 '3/30/20',
 '3/31/20',
 '3/4/20',
 '3/5/20',
 '3/6/20',
 '3/7/20',
 '3/8/20',
 '3/9/20',
 '4/1/20',
 '4/10/20',
 '4/11/20',
 '4/12/20',
 '4/13/20',
 '4/14/20',
 '4/15/20',
 '4/16/20',
 '4/17/20',
 '4/18/20',
 '4/19/20',
 '4/2/20',
 '4/20/20',
 '4/21/20',
 '4/22/20',
 '4/3/20',
 '4/4/20',
 '4/5/20',
 '4/6/20',
 '4/7/20',
 '4/8/20',
 '4/9/20',
 'Country/Region',
 'Lat',
 'Long',
 'Province/State'}

In [74]:
#list of common columns
common_cols = confirmed_col.intersection(deaths_col)
common_cols

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20',
       '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20', '4/7/20', '4/8/20',
       '4/9/20', '4/10/20', '4/11/20', '4/12/20', '4/13/20', '4/14/20',
       '4/15/20', '4/16/20', '4/17/20', '4/18/20', '4/19/20', '4/20/20',
       '4/21/20', '4/22/20'],
      dtype='object')

In [75]:
#Check number of entries in each column
confirmed_cases_df.count()

Province/State     82
Country/Region    264
Lat               264
Long              264
1/22/20           264
                 ...
4/18/20           264
4/19/20           264
4/20/20           264
4/21/20           264
4/22/20           264
Length: 96, dtype: int64

In [76]:
deaths_df.count()

Province/State     82
Country/Region    264
Lat               264
Long              264
1/22/20           264
                 ...
4/18/20           264
4/19/20           264
4/20/20           264
4/21/20           264
4/22/20           264
Length: 96, dtype: int64

In [77]:
recovered_cases_df.count()

Province/State     67
Country/Region    250
Lat               250
Long              250
1/22/20           250
                 ...
4/18/20           250
4/19/20           250
4/20/20           250
4/21/20           250
4/22/20           250
Length: 96, dtype: int64

In [78]:
#Remove province category since it has limited and different entries in each file
confirmed_cases_df = confirmed_cases_df.drop(columns=["Province/State"])

In [79]:
deaths_df.columns.difference(confirmed_cases_df.columns)

Index(['Province/State'], dtype='object')

In [80]:
recovered_cases_df.columns.difference(confirmed_cases_df.columns)

Index(['Province/State'], dtype='object')

In [81]:
deaths_df = deaths_df.drop(columns=["Province/State"])
recovered_cases_df = recovered_cases_df.drop(columns=["Province/State"])

In [82]:
confirmed_cases_df["Country/Region"].value_counts()

China             33
Canada            15
United Kingdom    11
France            11
Australia          8
                  ..
Cote d'Ivoire      1
Mongolia           1
Norway             1
Ghana              1
Liberia            1
Name: Country/Region, Length: 185, dtype: int64

In [83]:
deaths_df["Country/Region"].value_counts()

China             33
Canada            15
United Kingdom    11
France            11
Australia          8
                  ..
Cote d'Ivoire      1
Mongolia           1
Norway             1
Ghana              1
Liberia            1
Name: Country/Region, Length: 185, dtype: int64

In [84]:
recovered_cases_df["Country/Region"].value_counts()

China             33
France            11
United Kingdom    11
Australia          8
Netherlands        5
                  ..
Cote d'Ivoire      1
Mongolia           1
Guinea-Bissau      1
Ghana              1
Liberia            1
Name: Country/Region, Length: 185, dtype: int64

In [85]:
recovered_cases_df = recovered_cases_df.groupby(["Country/Region"])

recovered_cases_df.get_group("Canada")

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
36,Canada,56.1304,-106.3468,0,0,0,0,0,0,0,...,7758,8210,8966,9698,10545,10964,11847,12543,13188,14454

In [86]:
#Noted difference between recovered dataframe and confirmed/deaths is in the umber of entries for Canada
confirmed_cases_df =confirmed_cases_df.groupby(["Country/Region"])

confirmed_cases_df.get_group("Canada")

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
35,Canada,53.9333,-116.5765,0,0,0,0,0,0,0,...,1732,1870,1870,1996,2397,2562,2803,2908,3095,3401
36,Canada,49.2827,-123.1207,0,0,0,0,0,0,1,...,1490,1490,1517,1561,1575,1618,1647,1647,1724,1795
37,Canada,37.6489,-122.6655,0,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,-1
38,Canada,53.7609,-98.8139,0,0,0,0,0,0,0,...,246,246,246,250,250,253,254,254,255,257
39,Canada,46.5653,-66.4619,0,0,0,0,0,0,0,...,116,116,117,117,117,117,118,118,118,118
40,Canada,53.1355,-57.6604,0,0,0,0,0,0,0,...,244,244,247,252,256,257,257,257,257,256
41,Canada,44.6820,-63.7443,0,0,0,0,0,0,0,...,474,517,549,579,606,649,675,721,737,772
42,Canada,51.2538,-85.3232,0,0,0,0,1,1,1,...,7470,7953,8447,9840,10456,11013,11561,12063,12715,13718
43,Canada,46.5107,-63.4168,0,0,0,0,0,0,0,...,25,25,26,26,26,26,26,26,26,26
44,Canada,52.9399,-73.5491,0,0,0,0,0,0,0,...,13557,14248,14860,15857,16798,17521,17950,19319,20126,20965
45,Canada,52.9399,-106.4509,0,0,0,0,0,0,0,...,300,300,304,305,307,313,315,316,320,326
231,Canada,0.0000,0.0000,0,0,0,0,0,0,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
238,Canada,0.0000,0.0000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
245,Canada,64.8255,-124.8457,0,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
246,Canada,64.2823,-135.0000,0,0,0,0,0,0,0,...,8,8,8,8,8,9,9,11,11,11

In [87]:
#created dataframes based on the sum of cases by country for each day across the files /double check with number of rows
confirmed_cases_sum_df = confirmed_cases_df.sum()
confirmed_cases_sum_df

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,0,...,665,714,784,840,906,933,996,1026,1092,1176
Albania,41.153300,20.168300,0,0,0,0,0,0,0,0,...,467,475,494,518,539,548,562,584,609,634
Algeria,28.033900,1.659600,0,0,0,0,0,0,0,0,...,1983,2070,2160,2268,2418,2534,2629,2718,2811,2910
Andorra,42.506300,1.521800,0,0,0,0,0,0,0,0,...,646,659,673,673,696,704,713,717,717,723
Angola,-11.202700,17.873900,0,0,0,0,0,0,0,0,...,19,19,19,19,19,24,24,24,24,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,0,...,308,308,374,374,402,418,437,449,466,474
Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
Yemen,15.552727,48.516388,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
Zambia,-15.416700,28.283300,0,0,0,0,0,0,0,0,...,45,45,48,48,52,57,61,65,70,74
Zimbabwe,-20.000000,30.000000,0,0,0,0,0,0,0,0,...,17,17,23,23,24,25,25,25,28,28

In [88]:
#Repeat the above for deaths_df
deaths_df = deaths_df.groupby(["Country/Region"])
deaths_sum_df = deaths_df.sum()
deaths_sum_df

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,0,...,21,23,25,30,30,30,33,36,36,40
Albania,41.153300,20.168300,0,0,0,0,0,0,0,0,...,23,24,25,26,26,26,26,26,26,27
Algeria,28.033900,1.659600,0,0,0,0,0,0,0,0,...,313,326,336,348,364,367,375,384,392,402
Andorra,42.506300,1.521800,0,0,0,0,0,0,0,0,...,29,31,33,33,35,35,36,37,37,37
Angola,-11.202700,17.873900,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,3,3,4,4
Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Yemen,15.552727,48.516388,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zambia,-15.416700,28.283300,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,3,3,3,3
Zimbabwe,-20.000000,30.000000,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,4

In [89]:
#Repeat the above for recovered_cases_df
recovered_sum_cases_df = recovered_cases_df.sum()
recovered_sum_cases_df

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,0,...,32,40,43,54,99,112,131,135,150,166
Albania,41.153300,20.168300,0,0,0,0,0,0,0,0,...,232,248,251,277,283,302,314,327,345,356
Algeria,28.033900,1.659600,0,0,0,0,0,0,0,0,...,601,691,708,783,846,894,1047,1099,1152,1204
Andorra,42.506300,1.521800,0,0,0,0,0,0,0,0,...,128,128,169,169,191,205,235,248,282,309
Angola,-11.202700,17.873900,0,0,0,0,0,0,0,0,...,4,5,5,5,5,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,0,...,58,62,63,63,69,69,71,71,71,71
Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Yemen,15.552727,48.516388,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zambia,-15.416700,28.283300,0,0,0,0,0,0,0,0,...,30,30,30,30,30,33,33,35,35,35
Zimbabwe,-20.000000,30.000000,0,0,0,0,0,0,0,0,...,0,0,1,1,2,2,2,2,2,2

In [90]:
confirmed_cases_sum_df = confirmed_cases_sum_df.sort_values(by=["Country/Region"])
deaths_sum_df = deaths_sum_df.sort_values(by=["Country/Region"])
recovered_sum_cases_df = recovered_sum_cases_df.sort_values(by=["Country/Region"])

In [91]:
confirmed_cases_sum_df = confirmed_cases_sum_df.reset_index()
confirmed_cases_sum_df

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
0,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,...,665,714,784,840,906,933,996,1026,1092,1176
1,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,467,475,494,518,539,548,562,584,609,634
2,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,1983,2070,2160,2268,2418,2534,2629,2718,2811,2910
3,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,646,659,673,673,696,704,713,717,717,723
4,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,19,19,19,19,19,24,24,24,24,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,...,308,308,374,374,402,418,437,449,466,474
181,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
182,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
183,Zambia,-15.416700,28.283300,0,0,0,0,0,0,0,...,45,45,48,48,52,57,61,65,70,74
184,Zimbabwe,-20.000000,30.000000,0,0,0,0,0,0,0,...,17,17,23,23,24,25,25,25,28,28

In [92]:
recovered_sum_cases_df = recovered_sum_cases_df.reset_index()
recovered_sum_cases_df

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
0,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,...,32,40,43,54,99,112,131,135,150,166
1,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,232,248,251,277,283,302,314,327,345,356
2,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,601,691,708,783,846,894,1047,1099,1152,1204
3,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,128,128,169,169,191,205,235,248,282,309
4,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,4,5,5,5,5,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,...,58,62,63,63,69,69,71,71,71,71
181,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
182,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
183,Zambia,-15.416700,28.283300,0,0,0,0,0,0,0,...,30,30,30,30,30,33,33,35,35,35
184,Zimbabwe,-20.000000,30.000000,0,0,0,0,0,0,0,...,0,0,1,1,2,2,2,2,2,2

In [93]:
deaths_sum_df = deaths_sum_df.reset_index()
deaths_sum_df.index.name = 'ID'
deaths_sum_df

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
ID,,,,,,,,,,,,,,,,,,,,,
0,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,...,21,23,25,30,30,30,33,36,36,40
1,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,23,24,25,26,26,26,26,26,26,27
2,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,313,326,336,348,364,367,375,384,392,402
3,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,29,31,33,33,35,35,36,37,37,37
4,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,...,2,2,2,2,2,2,3,3,4,4
181,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
182,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
183,Zambia,-15.416700,28.283300,0,0,0,0,0,0,0,...,2,2,2,2,2,2,3,3,3,3
184,Zimbabwe,-20.000000,30.000000,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,4

In [94]:
recovered_sum_cases_df.index.name = 'ID'
recovered_sum_cases_df

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
ID,,,,,,,,,,,,,,,,,,,,,
0,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,...,32,40,43,54,99,112,131,135,150,166
1,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,232,248,251,277,283,302,314,327,345,356
2,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,601,691,708,783,846,894,1047,1099,1152,1204
3,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,128,128,169,169,191,205,235,248,282,309
4,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,4,5,5,5,5,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,...,58,62,63,63,69,69,71,71,71,71
181,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
182,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
183,Zambia,-15.416700,28.283300,0,0,0,0,0,0,0,...,30,30,30,30,30,33,33,35,35,35
184,Zimbabwe,-20.000000,30.000000,0,0,0,0,0,0,0,...,0,0,1,1,2,2,2,2,2,2

In [95]:
confirmed_cases_sum_df.index.name = 'ID'
confirmed_cases_sum_df

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
ID,,,,,,,,,,,,,,,,,,,,,
0,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,...,665,714,784,840,906,933,996,1026,1092,1176
1,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,467,475,494,518,539,548,562,584,609,634
2,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,1983,2070,2160,2268,2418,2534,2629,2718,2811,2910
3,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,646,659,673,673,696,704,713,717,717,723
4,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,19,19,19,19,19,24,24,24,24,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,...,308,308,374,374,402,418,437,449,466,474
181,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
182,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
183,Zambia,-15.416700,28.283300,0,0,0,0,0,0,0,...,45,45,48,48,52,57,61,65,70,74
184,Zimbabwe,-20.000000,30.000000,0,0,0,0,0,0,0,...,17,17,23,23,24,25,25,25,28,28

### Create database connection

In [96]:
connection_string = "postgres:lujane92@localhost:5432/ETL_Project_Corona"
engine = create_engine(f'postgresql://{connection_string}')

In [97]:
# Confirm tables
engine.table_names()

['confirmed_cases']

### Load DataFrames into database

In [98]:
confirmed_cases_sum_df.to_sql(name='confirmed_cases', con=engine, if_exists='append', index=True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "ID" of relation "confirmed_cases" does not exist
LINE 1: INSERT INTO confirmed_cases ("ID", "Country/Region", "Lat", ...
                                     ^

[SQL: INSERT INTO confirmed_cases ("ID", "Country/Region", "Lat", "Long", "1/22/20", "1/23/20", "1/24/20", "1/25/20", "1/26/20", "1/27/20", "1/28/20", "1/29/20", "1/30/20", "1/31/20", "2/1/20", "2/2/20", "2/3/20", "2/4/20", "2/5/20", "2/6/20", "2/7/20", "2/8/20", "2/9/20", "2/10/20", "2/11/20", "2/12/20", "2/13/20", "2/14/20", "2/15/20", "2/16/20", "2/17/20", "2/18/20", "2/19/20", "2/20/20", "2/21/20", "2/22/20", "2/23/20", "2/24/20", "2/25/20", "2/26/20", "2/27/20", "2/28/20", "2/29/20", "3/1/20", "3/2/20", "3/3/20", "3/4/20", "3/5/20", "3/6/20", "3/7/20", "3/8/20", "3/9/20", "3/10/20", "3/11/20", "3/12/20", "3/13/20", "3/14/20", "3/15/20", "3/16/20", "3/17/20", "3/18/20", "3/19/20", "3/20/20", "3/21/20", "3/22/20", "3/23/20", "3/24/20", "3/25/20", "3/26/20", "3/27/20", "3/28/20", "3/29/20", "3/30/20", "3/31/20", "4/1/20", "4/2/20", "4/3/20", "4/4/20", "4/5/20", "4/6/20", "4/7/20", "4/8/20", "4/9/20", "4/10/20", "4/11/20", "4/12/20", "4/13/20", "4/14/20", "4/15/20", "4/16/20", "4/17/20", "4/18/20", "4/19/20", "4/20/20", "4/21/20", "4/22/20") VALUES (%(ID)s, %(Country/Region)s, %(Lat)s, %(Long)s, %(1/22/20)s, %(1/23/20)s, %(1/24/20)s, %(1/25/20)s, %(1/26/20)s, %(1/27/20)s, %(1/28/20)s, %(1/29/20)s, %(1/30/20)s, %(1/31/20)s, %(2/1/20)s, %(2/2/20)s, %(2/3/20)s, %(2/4/20)s, %(2/5/20)s, %(2/6/20)s, %(2/7/20)s, %(2/8/20)s, %(2/9/20)s, %(2/10/20)s, %(2/11/20)s, %(2/12/20)s, %(2/13/20)s, %(2/14/20)s, %(2/15/20)s, %(2/16/20)s, %(2/17/20)s, %(2/18/20)s, %(2/19/20)s, %(2/20/20)s, %(2/21/20)s, %(2/22/20)s, %(2/23/20)s, %(2/24/20)s, %(2/25/20)s, %(2/26/20)s, %(2/27/20)s, %(2/28/20)s, %(2/29/20)s, %(3/1/20)s, %(3/2/20)s, %(3/3/20)s, %(3/4/20)s, %(3/5/20)s, %(3/6/20)s, %(3/7/20)s, %(3/8/20)s, %(3/9/20)s, %(3/10/20)s, %(3/11/20)s, %(3/12/20)s, %(3/13/20)s, %(3/14/20)s, %(3/15/20)s, %(3/16/20)s, %(3/17/20)s, %(3/18/20)s, %(3/19/20)s, %(3/20/20)s, %(3/21/20)s, %(3/22/20)s, %(3/23/20)s, %(3/24/20)s, %(3/25/20)s, %(3/26/20)s, %(3/27/20)s, %(3/28/20)s, %(3/29/20)s, %(3/30/20)s, %(3/31/20)s, %(4/1/20)s, %(4/2/20)s, %(4/3/20)s, %(4/4/20)s, %(4/5/20)s, %(4/6/20)s, %(4/7/20)s, %(4/8/20)s, %(4/9/20)s, %(4/10/20)s, %(4/11/20)s, %(4/12/20)s, %(4/13/20)s, %(4/14/20)s, %(4/15/20)s, %(4/16/20)s, %(4/17/20)s, %(4/18/20)s, %(4/19/20)s, %(4/20/20)s, %(4/21/20)s, %(4/22/20)s)]
[parameters: ({'ID': 0, 'Country/Region': 'Afghanistan', 'Lat': 33.0, 'Long': 65.0, '1/22/20': 0, '1/23/20': 0, '1/24/20': 0, '1/25/20': 0, '1/26/20': 0, '1/27/20': 0, '1/28/20': 0, '1/29/20': 0, '1/30/20': 0, '1/31/20': 0, '2/1/20': 0, '2/2/20': 0, '2/3/20': 0, '2/4/20': 0, '2/5/20': 0, '2/6/20': 0, '2/7/20': 0, '2/8/20': 0, '2/9/20': 0, '2/10/20': 0, '2/11/20': 0, '2/12/20': 0, '2/13/20': 0, '2/14/20': 0, '2/15/20': 0, '2/16/20': 0, '2/17/20': 0, '2/18/20': 0, '2/19/20': 0, '2/20/20': 0, '2/21/20': 0, '2/22/20': 0, '2/23/20': 0, '2/24/20': 1, '2/25/20': 1, '2/26/20': 1, '2/27/20': 1, '2/28/20': 1, '2/29/20': 1, '3/1/20': 1, '3/2/20': 1, '3/3/20': 1, '3/4/20': 1, '3/5/20': 1, '3/6/20': 1, '3/7/20': 1, '3/8/20': 4, '3/9/20': 4, '3/10/20': 5, '3/11/20': 7, '3/12/20': 7, '3/13/20': 7, '3/14/20': 11, '3/15/20': 16, '3/16/20': 21, '3/17/20': 22, '3/18/20': 22, '3/19/20': 22, '3/20/20': 24, '3/21/20': 24, '3/22/20': 40, '3/23/20': 40, '3/24/20': 74, '3/25/20': 84, '3/26/20': 94, '3/27/20': 110, '3/28/20': 110, '3/29/20': 120, '3/30/20': 170, '3/31/20': 174, '4/1/20': 237, '4/2/20': 273, '4/3/20': 281, '4/4/20': 299, '4/5/20': 349, '4/6/20': 367, '4/7/20': 423, '4/8/20': 444, '4/9/20': 484, '4/10/20': 521, '4/11/20': 555, '4/12/20': 607, '4/13/20': 665, '4/14/20': 714, '4/15/20': 784, '4/16/20': 840, '4/17/20': 906, '4/18/20': 933, '4/19/20': 996, '4/20/20': 1026, '4/21/20': 1092, '4/22/20': 1176}, {'ID': 1, 'Country/Region': 'Albania', 'Lat': 41.1533, 'Long': 20.1683, '1/22/20': 0, '1/23/20': 0, '1/24/20': 0, '1/25/20': 0, '1/26/20': 0, '1/27/20': 0, '1/28/20': 0, '1/29/20': 0, '1/30/20': 0, '1/31/20': 0, '2/1/20': 0, '2/2/20': 0, '2/3/20': 0, '2/4/20': 0, '2/5/20': 0, '2/6/20': 0, '2/7/20': 0, '2/8/20': 0, '2/9/20': 0, '2/10/20': 0, '2/11/20': 0, '2/12/20': 0, '2/13/20': 0, '2/14/20': 0, '2/15/20': 0, '2/16/20': 0, '2/17/20': 0, '2/18/20': 0, '2/19/20': 0, '2/20/20': 0, '2/21/20': 0, '2/22/20': 0, '2/23/20': 0, '2/24/20': 0, '2/25/20': 0, '2/26/20': 0, '2/27/20': 0, '2/28/20': 0, '2/29/20': 0, '3/1/20': 0, '3/2/20': 0, '3/3/20': 0, '3/4/20': 0, '3/5/20': 0, '3/6/20': 0, '3/7/20': 0, '3/8/20': 0, '3/9/20': 2, '3/10/20': 10, '3/11/20': 12, '3/12/20': 23, '3/13/20': 33, '3/14/20': 38, '3/15/20': 42, '3/16/20': 51, '3/17/20': 55, '3/18/20': 59, '3/19/20': 64, '3/20/20': 70, '3/21/20': 76, '3/22/20': 89, '3/23/20': 104, '3/24/20': 123, '3/25/20': 146, '3/26/20': 174, '3/27/20': 186, '3/28/20': 197, '3/29/20': 212, '3/30/20': 223, '3/31/20': 243, '4/1/20': 259, '4/2/20': 277, '4/3/20': 304, '4/4/20': 333, '4/5/20': 361, '4/6/20': 377, '4/7/20': 383, '4/8/20': 400, '4/9/20': 409, '4/10/20': 416, '4/11/20': 433, '4/12/20': 446, '4/13/20': 467, '4/14/20': 475, '4/15/20': 494, '4/16/20': 518, '4/17/20': 539, '4/18/20': 548, '4/19/20': 562, '4/20/20': 584, '4/21/20': 609, '4/22/20': 634}, {'ID': 2, 'Country/Region': 'Algeria', 'Lat': 28.0339, 'Long': 1.6596, '1/22/20': 0, '1/23/20': 0, '1/24/20': 0, '1/25/20': 0, '1/26/20': 0, '1/27/20': 0, '1/28/20': 0, '1/29/20': 0, '1/30/20': 0, '1/31/20': 0, '2/1/20': 0, '2/2/20': 0, '2/3/20': 0, '2/4/20': 0, '2/5/20': 0, '2/6/20': 0, '2/7/20': 0, '2/8/20': 0, '2/9/20': 0, '2/10/20': 0, '2/11/20': 0, '2/12/20': 0, '2/13/20': 0, '2/14/20': 0, '2/15/20': 0, '2/16/20': 0, '2/17/20': 0, '2/18/20': 0, '2/19/20': 0, '2/20/20': 0, '2/21/20': 0, '2/22/20': 0, '2/23/20': 0, '2/24/20': 0, '2/25/20': 1, '2/26/20': 1, '2/27/20': 1, '2/28/20': 1, '2/29/20': 1, '3/1/20': 1, '3/2/20': 3, '3/3/20': 5, '3/4/20': 12, '3/5/20': 12, '3/6/20': 17, '3/7/20': 17, '3/8/20': 19, '3/9/20': 20, '3/10/20': 20, '3/11/20': 20, '3/12/20': 24, '3/13/20': 26, '3/14/20': 37, '3/15/20': 48, '3/16/20': 54, '3/17/20': 60, '3/18/20': 74, '3/19/20': 87, '3/20/20': 90, '3/21/20': 139, '3/22/20': 201, '3/23/20': 230, '3/24/20': 264, '3/25/20': 302, '3/26/20': 367, '3/27/20': 409, '3/28/20': 454, '3/29/20': 511, '3/30/20': 584, '3/31/20': 716, '4/1/20': 847, '4/2/20': 986, '4/3/20': 1171, '4/4/20': 1251, '4/5/20': 1320, '4/6/20': 1423, '4/7/20': 1468, '4/8/20': 1572, '4/9/20': 1666, '4/10/20': 1761, '4/11/20': 1825, '4/12/20': 1914, '4/13/20': 1983, '4/14/20': 2070, '4/15/20': 2160, '4/16/20': 2268, '4/17/20': 2418, '4/18/20': 2534, '4/19/20': 2629, '4/20/20': 2718, '4/21/20': 2811, '4/22/20': 2910}, {'ID': 3, 'Country/Region': 'Andorra', 'Lat': 42.5063, 'Long': 1.5218, '1/22/20': 0, '1/23/20': 0, '1/24/20': 0, '1/25/20': 0, '1/26/20': 0, '1/27/20': 0, '1/28/20': 0, '1/29/20': 0, '1/30/20': 0, '1/31/20': 0, '2/1/20': 0, '2/2/20': 0, '2/3/20': 0, '2/4/20': 0, '2/5/20': 0, '2/6/20': 0, '2/7/20': 0, '2/8/20': 0, '2/9/20': 0, '2/10/20': 0, '2/11/20': 0, '2/12/20': 0, '2/13/20': 0, '2/14/20': 0, '2/15/20': 0, '2/16/20': 0, '2/17/20': 0, '2/18/20': 0, '2/19/20': 0, '2/20/20': 0, '2/21/20': 0, '2/22/20': 0, '2/23/20': 0, '2/24/20': 0, '2/25/20': 0, '2/26/20': 0, '2/27/20': 0, '2/28/20': 0, '2/29/20': 0, '3/1/20': 0, '3/2/20': 1, '3/3/20': 1, '3/4/20': 1, '3/5/20': 1, '3/6/20': 1, '3/7/20': 1, '3/8/20': 1, '3/9/20': 1, '3/10/20': 1, '3/11/20': 1, '3/12/20': 1, '3/13/20': 1, '3/14/20': 1, '3/15/20': 1, '3/16/20': 2, '3/17/20': 39, '3/18/20': 39, '3/19/20': 53, '3/20/20': 75, '3/21/20': 88, '3/22/20': 113, '3/23/20': 133, '3/24/20': 164, '3/25/20': 188, '3/26/20': 224, '3/27/20': 267, '3/28/20': 308, '3/29/20': 334, '3/30/20': 370, '3/31/20': 376, '4/1/20': 390, '4/2/20': 428, '4/3/20': 439, '4/4/20': 466, '4/5/20': 501, '4/6/20': 525, '4/7/20': 545, '4/8/20': 564, '4/9/20': 583, '4/10/20': 601, '4/11/20': 601, '4/12/20': 638, '4/13/20': 646, '4/14/20': 659, '4/15/20': 673, '4/16/20': 673, '4/17/20': 696, '4/18/20': 704, '4/19/20': 713, '4/20/20': 717, '4/21/20': 717, '4/22/20': 723}, {'ID': 4, 'Country/Region': 'Angola', 'Lat': -11.2027, 'Long': 17.8739, '1/22/20': 0, '1/23/20': 0, '1/24/20': 0, '1/25/20': 0, '1/26/20': 0, '1/27/20': 0, '1/28/20': 0, '1/29/20': 0, '1/30/20': 0, '1/31/20': 0, '2/1/20': 0, '2/2/20': 0, '2/3/20': 0, '2/4/20': 0, '2/5/20': 0, '2/6/20': 0, '2/7/20': 0, '2/8/20': 0, '2/9/20': 0, '2/10/20': 0, '2/11/20': 0, '2/12/20': 0, '2/13/20': 0, '2/14/20': 0, '2/15/20': 0, '2/16/20': 0, '2/17/20': 0, '2/18/20': 0, '2/19/20': 0, '2/20/20': 0, '2/21/20': 0, '2/22/20': 0, '2/23/20': 0, '2/24/20': 0, '2/25/20': 0, '2/26/20': 0, '2/27/20': 0, '2/28/20': 0, '2/29/20': 0, '3/1/20': 0, '3/2/20': 0, '3/3/20': 0, '3/4/20': 0, '3/5/20': 0, '3/6/20': 0, '3/7/20': 0, '3/8/20': 0, '3/9/20': 0, '3/10/20': 0, '3/11/20': 0, '3/12/20': 0, '3/13/20': 0, '3/14/20': 0, '3/15/20': 0, '3/16/20': 0, '3/17/20': 0, '3/18/20': 0, '3/19/20': 0, '3/20/20': 1, '3/21/20': 2, '3/22/20': 2, '3/23/20': 3, '3/24/20': 3, '3/25/20': 3, '3/26/20': 4, '3/27/20': 4, '3/28/20': 5, '3/29/20': 7, '3/30/20': 7, '3/31/20': 7, '4/1/20': 8, '4/2/20': 8, '4/3/20': 8, '4/4/20': 10, '4/5/20': 14, '4/6/20': 16, '4/7/20': 17, '4/8/20': 19, '4/9/20': 19, '4/10/20': 19, '4/11/20': 19, '4/12/20': 19, '4/13/20': 19, '4/14/20': 19, '4/15/20': 19, '4/16/20': 19, '4/17/20': 19, '4/18/20': 24, '4/19/20': 24, '4/20/20': 24, '4/21/20': 24, '4/22/20': 25}, {'ID': 5, 'Country/Region': 'Antigua and Barbuda', 'Lat': 17.0608, 'Long': -61.7964, '1/22/20': 0, '1/23/20': 0, '1/24/20': 0, '1/25/20': 0, '1/26/20': 0, '1/27/20': 0, '1/28/20': 0, '1/29/20': 0, '1/30/20': 0, '1/31/20': 0, '2/1/20': 0, '2/2/20': 0, '2/3/20': 0, '2/4/20': 0, '2/5/20': 0, '2/6/20': 0, '2/7/20': 0, '2/8/20': 0, '2/9/20': 0, '2/10/20': 0, '2/11/20': 0, '2/12/20': 0, '2/13/20': 0, '2/14/20': 0, '2/15/20': 0, '2/16/20': 0, '2/17/20': 0, '2/18/20': 0, '2/19/20': 0, '2/20/20': 0, '2/21/20': 0, '2/22/20': 0, '2/23/20': 0, '2/24/20': 0, '2/25/20': 0, '2/26/20': 0, '2/27/20': 0, '2/28/20': 0, '2/29/20': 0, '3/1/20': 0, '3/2/20': 0, '3/3/20': 0, '3/4/20': 0, '3/5/20': 0, '3/6/20': 0, '3/7/20': 0, '3/8/20': 0, '3/9/20': 0, '3/10/20': 0, '3/11/20': 0, '3/12/20': 0, '3/13/20': 1, '3/14/20': 1, '3/15/20': 1, '3/16/20': 1, '3/17/20': 1, '3/18/20': 1, '3/19/20': 1, '3/20/20': 1, '3/21/20': 1, '3/22/20': 1, '3/23/20': 3, '3/24/20': 3, '3/25/20': 3, '3/26/20': 7, '3/27/20': 7, '3/28/20': 7, '3/29/20': 7, '3/30/20': 7, '3/31/20': 7, '4/1/20': 7, '4/2/20': 9, '4/3/20': 15, '4/4/20': 15, '4/5/20': 15, '4/6/20': 15, '4/7/20': 19, '4/8/20': 19, '4/9/20': 19, '4/10/20': 19, '4/11/20': 21, '4/12/20': 21, '4/13/20': 23, '4/14/20': 23, '4/15/20': 23, '4/16/20': 23, '4/17/20': 23, '4/18/20': 23, '4/19/20': 23, '4/20/20': 23, '4/21/20': 23, '4/22/20': 24}, {'ID': 6, 'Country/Region': 'Argentina', 'Lat': -38.4161, 'Long': -63.6167, '1/22/20': 0, '1/23/20': 0, '1/24/20': 0, '1/25/20': 0, '1/26/20': 0, '1/27/20': 0, '1/28/20': 0, '1/29/20': 0, '1/30/20': 0, '1/31/20': 0, '2/1/20': 0, '2/2/20': 0, '2/3/20': 0, '2/4/20': 0, '2/5/20': 0, '2/6/20': 0, '2/7/20': 0, '2/8/20': 0, '2/9/20': 0, '2/10/20': 0, '2/11/20': 0, '2/12/20': 0, '2/13/20': 0, '2/14/20': 0, '2/15/20': 0, '2/16/20': 0, '2/17/20': 0, '2/18/20': 0, '2/19/20': 0, '2/20/20': 0, '2/21/20': 0, '2/22/20': 0, '2/23/20': 0, '2/24/20': 0, '2/25/20': 0, '2/26/20': 0, '2/27/20': 0, '2/28/20': 0, '2/29/20': 0, '3/1/20': 0, '3/2/20': 0, '3/3/20': 1, '3/4/20': 1, '3/5/20': 1, '3/6/20': 2, '3/7/20': 8, '3/8/20': 12, '3/9/20': 12, '3/10/20': 17, '3/11/20': 19, '3/12/20': 19, '3/13/20': 31, '3/14/20': 34, '3/15/20': 45, '3/16/20': 56, '3/17/20': 68, '3/18/20': 79, '3/19/20': 97, '3/20/20': 128, '3/21/20': 158, '3/22/20': 266, '3/23/20': 301, '3/24/20': 387, '3/25/20': 387, '3/26/20': 502, '3/27/20': 589, '3/28/20': 690, '3/29/20': 745, '3/30/20': 820, '3/31/20': 1054, '4/1/20': 1054, '4/2/20': 1133, '4/3/20': 1265, '4/4/20': 1451, '4/5/20': 1451, '4/6/20': 1554, '4/7/20': 1628, '4/8/20': 1715, '4/9/20': 1795, '4/10/20': 1975, '4/11/20': 1975, '4/12/20': 2142, '4/13/20': 2208, '4/14/20': 2277, '4/15/20': 2443, '4/16/20': 2571, '4/17/20': 2669, '4/18/20': 2758, '4/19/20': 2839, '4/20/20': 2941, '4/21/20': 3031, '4/22/20': 3144}, {'ID': 7, 'Country/Region': 'Armenia', 'Lat': 40.0691, 'Long': 45.0382, '1/22/20': 0, '1/23/20': 0, '1/24/20': 0, '1/25/20': 0, '1/26/20': 0, '1/27/20': 0, '1/28/20': 0, '1/29/20': 0, '1/30/20': 0, '1/31/20': 0, '2/1/20': 0, '2/2/20': 0, '2/3/20': 0, '2/4/20': 0, '2/5/20': 0, '2/6/20': 0, '2/7/20': 0, '2/8/20': 0, '2/9/20': 0, '2/10/20': 0, '2/11/20': 0, '2/12/20': 0, '2/13/20': 0, '2/14/20': 0, '2/15/20': 0, '2/16/20': 0, '2/17/20': 0, '2/18/20': 0, '2/19/20': 0, '2/20/20': 0, '2/21/20': 0, '2/22/20': 0, '2/23/20': 0, '2/24/20': 0, '2/25/20': 0, '2/26/20': 0, '2/27/20': 0, '2/28/20': 0, '2/29/20': 0, '3/1/20': 1, '3/2/20': 1, '3/3/20': 1, '3/4/20': 1, '3/5/20': 1, '3/6/20': 1, '3/7/20': 1, '3/8/20': 1, '3/9/20': 1, '3/10/20': 1, '3/11/20': 1, '3/12/20': 4, '3/13/20': 8, '3/14/20': 18, '3/15/20': 26, '3/16/20': 52, '3/17/20': 78, '3/18/20': 84, '3/19/20': 115, '3/20/20': 136, '3/21/20': 160, '3/22/20': 194, '3/23/20': 235, '3/24/20': 249, '3/25/20': 265, '3/26/20': 290, '3/27/20': 329, '3/28/20': 407, '3/29/20': 424, '3/30/20': 482, '3/31/20': 532, '4/1/20': 571, '4/2/20': 663, '4/3/20': 736, '4/4/20': 770, '4/5/20': 822, '4/6/20': 833, '4/7/20': 853, '4/8/20': 881, '4/9/20': 921, '4/10/20': 937, '4/11/20': 967, '4/12/20': 1013, '4/13/20': 1039, '4/14/20': 1067, '4/15/20': 1111, '4/16/20': 1159, '4/17/20': 1201, '4/18/20': 1248, '4/19/20': 1291, '4/20/20': 1339, '4/21/20': 1401, '4/22/20': 1473}  ... displaying 10 of 185 total bound parameter sets ...  {'ID': 183, 'Country/Region': 'Zambia', 'Lat': -15.4167, 'Long': 28.2833, '1/22/20': 0, '1/23/20': 0, '1/24/20': 0, '1/25/20': 0, '1/26/20': 0, '1/27/20': 0, '1/28/20': 0, '1/29/20': 0, '1/30/20': 0, '1/31/20': 0, '2/1/20': 0, '2/2/20': 0, '2/3/20': 0, '2/4/20': 0, '2/5/20': 0, '2/6/20': 0, '2/7/20': 0, '2/8/20': 0, '2/9/20': 0, '2/10/20': 0, '2/11/20': 0, '2/12/20': 0, '2/13/20': 0, '2/14/20': 0, '2/15/20': 0, '2/16/20': 0, '2/17/20': 0, '2/18/20': 0, '2/19/20': 0, '2/20/20': 0, '2/21/20': 0, '2/22/20': 0, '2/23/20': 0, '2/24/20': 0, '2/25/20': 0, '2/26/20': 0, '2/27/20': 0, '2/28/20': 0, '2/29/20': 0, '3/1/20': 0, '3/2/20': 0, '3/3/20': 0, '3/4/20': 0, '3/5/20': 0, '3/6/20': 0, '3/7/20': 0, '3/8/20': 0, '3/9/20': 0, '3/10/20': 0, '3/11/20': 0, '3/12/20': 0, '3/13/20': 0, '3/14/20': 0, '3/15/20': 0, '3/16/20': 0, '3/17/20': 0, '3/18/20': 2, '3/19/20': 2, '3/20/20': 2, '3/21/20': 2, '3/22/20': 3, '3/23/20': 3, '3/24/20': 3, '3/25/20': 12, '3/26/20': 16, '3/27/20': 22, '3/28/20': 28, '3/29/20': 29, '3/30/20': 35, '3/31/20': 35, '4/1/20': 36, '4/2/20': 39, '4/3/20': 39, '4/4/20': 39, '4/5/20': 39, '4/6/20': 39, '4/7/20': 39, '4/8/20': 39, '4/9/20': 39, '4/10/20': 40, '4/11/20': 40, '4/12/20': 43, '4/13/20': 45, '4/14/20': 45, '4/15/20': 48, '4/16/20': 48, '4/17/20': 52, '4/18/20': 57, '4/19/20': 61, '4/20/20': 65, '4/21/20': 70, '4/22/20': 74}, {'ID': 184, 'Country/Region': 'Zimbabwe', 'Lat': -20.0, 'Long': 30.0, '1/22/20': 0, '1/23/20': 0, '1/24/20': 0, '1/25/20': 0, '1/26/20': 0, '1/27/20': 0, '1/28/20': 0, '1/29/20': 0, '1/30/20': 0, '1/31/20': 0, '2/1/20': 0, '2/2/20': 0, '2/3/20': 0, '2/4/20': 0, '2/5/20': 0, '2/6/20': 0, '2/7/20': 0, '2/8/20': 0, '2/9/20': 0, '2/10/20': 0, '2/11/20': 0, '2/12/20': 0, '2/13/20': 0, '2/14/20': 0, '2/15/20': 0, '2/16/20': 0, '2/17/20': 0, '2/18/20': 0, '2/19/20': 0, '2/20/20': 0, '2/21/20': 0, '2/22/20': 0, '2/23/20': 0, '2/24/20': 0, '2/25/20': 0, '2/26/20': 0, '2/27/20': 0, '2/28/20': 0, '2/29/20': 0, '3/1/20': 0, '3/2/20': 0, '3/3/20': 0, '3/4/20': 0, '3/5/20': 0, '3/6/20': 0, '3/7/20': 0, '3/8/20': 0, '3/9/20': 0, '3/10/20': 0, '3/11/20': 0, '3/12/20': 0, '3/13/20': 0, '3/14/20': 0, '3/15/20': 0, '3/16/20': 0, '3/17/20': 0, '3/18/20': 0, '3/19/20': 0, '3/20/20': 1, '3/21/20': 3, '3/22/20': 3, '3/23/20': 3, '3/24/20': 3, '3/25/20': 3, '3/26/20': 3, '3/27/20': 5, '3/28/20': 7, '3/29/20': 7, '3/30/20': 7, '3/31/20': 8, '4/1/20': 8, '4/2/20': 9, '4/3/20': 9, '4/4/20': 9, '4/5/20': 9, '4/6/20': 10, '4/7/20': 11, '4/8/20': 11, '4/9/20': 11, '4/10/20': 13, '4/11/20': 14, '4/12/20': 14, '4/13/20': 17, '4/14/20': 17, '4/15/20': 23, '4/16/20': 23, '4/17/20': 24, '4/18/20': 25, '4/19/20': 25, '4/20/20': 25, '4/21/20': 28, '4/22/20': 28})]
(Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
recovered_cases_transformed.to_sql(name='county', con=engine, if_exists='append', index=True)

In [ ]:
deaths_transformed.to_sql(name='county', con=engine, if_exists='append', index=True)